body {
    background-color: var(--gray-900);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 62px 124px;
    gap: 32px;
    overflow-y: scroll;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

input,
button {
    font-family: 'Inter', sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.btn-outline {
    background: transparent;
    border: 0.5px solid var(--gray-200);
    color: var(--white);
    padding: 0 16px;
    transition: background-color 0.5s;
}

.btn-outline:hover {
    background-color: var(--gray-200);
}

.icon {
    width: 20px;
    height: 20px;
}

.btn-primary {
    background-color: var(--accent-600);
    border: 1px solid var(--accent-500);
    color: var(--white);
    padding: 0 24px;
    transition: opacity 0.5s;
}

.btn-primary:hover {
    opacity: 0.8;
}

.w-150 {
    width: 150px;
    justify-content: center;
}

.prompt-title {
    font-size: 32px;
    font-weight: 600;
    outline: none;
}

.prompt-content {
    font-size: 16px;
    color: var(--white);
    outline: none;
}

.editable-wrapper {
    position: relative;
}

.editable-wrapper::before {
    content: attr(data-placeholder);
    position: absolute;
    color: var(--gray-200);
    pointer-events: none;
    opacity: 0;
}

.editable-wrapper.is-empty::before {
    opacity: 1;
}

#title-wrapper.is-empty {
    font-size: 32px;
    font-weight: 600;
    color: var(--gray-200);
}

#content-wrapper.is-empty {
    font-size: 16px;
    color: var(--gray-200);
}