:root {
    --white: #ffffff;

    --accent-600: #ADFF2F;
    --accent-500: #9bb85e;

    --alert-600: #ff0000;
    --alert-800: rgba(255, 0, 0, 0.08);

    --gray-900: #0d0d0d;
    --gray-800: #111111;
    --gray-700: #1a1a1a;
    --gray-200: #424242;
    --gray-100: #737373;
}

:root[data-theme="light"] {
    --gray-900: #ffffff;
    --gray-800: #f7f7f7;
    --gray-700: #e6e6e6;
    --gray-200: #9e9e9e;
    --gray-100: #616161;
    --white: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-100);
}